/*STYLES GÉNÉRAUX*/
:root {
    /*Palette de couleurs*/
    --blanc: #e8f1f2;
    --bleu: #1b98e0;
    --rouge: #e71d36;
    --gris: #494949;
    --noir: #323031;
}

body {
    margin: 0 0 0 0;
    overflow-x: hidden;
    text-align: center;
}

.headerIndex {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/img_arriere_plan/ciel.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.part1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/img_arriere_plan/ciel.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
}

.part2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/img_arriere_plan/enfer.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
}
/*POSITION DU TEXTES COPYRIGHT*/
.paraIntro {
    position: absolute;
    bottom: 10%;
    left: 50%;
    font-size: 10px;
}
/*STYLES DES TEXTES*/
h1 {
    padding: 5px 5px 5px 5px;
    margin: 0;
    font-family: 'Tilt Prism', cursive;
    /*Police du titre*/
    font-size: 8vw;
    /*Taille relative*/
}

h2 {
    margin: 0;
    font-family: 'Tilt Prism', cursive;
    /*Police du titre*/
    font-size: 7vw;
    /*Taille relative*/
}

h3 {
    font-family: 'Lora', serif;
    font-size: 2vw;
    margin: 10px 0 0 0;
}

h5 {
    font-family: 'Lora', serif;
    bottom: 0;
    left: 0;
}

.texteGouffre {
    color: var(--blanc);
}

#texteFin{
    font-size: 10vw;
}

/*CALL-TO-ACTION*/
.spriteCTA {
    text-align: center;
    width: 10vw;
    height: 20vh;
    margin-top: 15vh;
}

#svgCTA{
    margin-left: 50vw;
}

#CTA2{
    visibility: hidden;
}

/*OVERLAY ET SES IMAGES*/
.overlay {
    position: fixed;
    /*display: none;*/
}

#rideauG {
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
}

#rideauD {
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
}

#veloG {
    bottom: 0;
    left: 0;
    z-index: 1;
}

#veloD {
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 30vh;
}

#pleineLune {
    top: 0;
    right: 0;
    z-index: 101;
    height: 50vh;
}

#lune {
    top: 0;
    left: 0;
    z-index: 101;
    height: 30vh;
}

#etoile {
    top: 0;
    right: 0;
    z-index: 101;
    height: 30vh;
}

#soleil {
    top: 0;
    left: 30px;
    z-index: 101;
    height: 50vh;
}

/*IMAGES D'HISTOIRE*/
/*.anim{
    border: 1px solid green;
} */

#divin {
    position: absolute;
    height: 50vh;
    top: 240px;
    left: 40vw;
}

#lucifer {
    position: absolute;
    height: 50vh;
    top: 240px;
    left: 40vw;
}

#luciferDance {
    position: absolute;
    height: 50vh;
    top: 240px;
    left: 40vw;
}

#luciferVol {
    position: absolute;
    height: 50vh;
    top: 240px;
    left: 40vw;
}

#main {
    position: absolute;
    height: 50vh;
    top: 240px;
    left: 40vw;
}

#luciferChute {
    position: absolute;
    height: 20vh;
    top: 240px;
    left: 40vw;
}
.rocheG{
    position: absolute;
    height: 30vh;
}
.rocheP{
    position: absolute;
    height: 10vh;
}

#rocheG1{
    bottom:190px;
    left: 200px;
}
#rocheG2{
    bottom:290px;
    right: 250px;
}
#rocheP1{
    bottom:190px;
    left: 350px;
}
#rocheP2{
    bottom:190px;
    top: 350px;
}

#luciferTriste {
    position: absolute;
    height: 50vh;
    top: 400px;
    left: 60vw;
}

.ligneSVG{
    margin-top: 50vh;
}

/*SECTION PARALLAXE*/
.parra {
    position: relative;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/enfer.png);
    border: 1px solid var(--rouge);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50% 0%;
}

/*SPRITESHEET*/
.sectionSprite1 {
    height: 200px;
    width: 197px;
    background-image: url(../img/img_elements_visuels/spritesheet1.png);
    background-size: auto 100%;
    margin: 0 auto;
    aspect-ratio: 1/1;
    animation-name: velo1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    animation-play-state: paused;
}


.sectionSprite2 {
    height: 300px;
    width: 176px;
    background-image: url(../img/img_elements_visuels/spritesheet2.png);
    background-size: auto 100%;
    margin: 0 auto;
    aspect-ratio: 1/1;
    animation-name: velo2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    animation-play-state: paused;
}

#spriteDanse{
    height: 500px;
    width: 500px;
    background-image: url(../img/img_personnages/spriteLuciDanse.png);
    background-size: auto 100%;
    margin: 0 auto;
    aspect-ratio: 1/1;
    animation-name: danse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(5);
    animation-play-state: paused;
}

#spriteDoigt{
    height: 500px;
    width: 500px;
    background-image: url(../img/img_personnages/spriteDoigt.png);
    background-size: auto 100%;
    margin: 0 auto;
    aspect-ratio: 1/1;
    animation-name: doigt;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(3);
    animation-play-state: paused;
}

.bodySprite.is-scrolling .mainIndex .sectionSprite1 {
    /*background-color: #1b98e0;*/
    animation-play-state: running;
}
.bodySprite.is-scrolling .sectionSprite2 {
    /*background-color: #1b98e0;*/
    animation-play-state: running;
}
.bodySprite.is-scrolling .mainIndex #banissement #spriteDoigt{
    /*background-color: #1b98e0;*/
    animation-play-state: running;
}

.bodySprite.is-scrolling .mainIndex #danse #spriteDanse{
    /*background-color: #1b98e0;*/
    animation-play-state: running;
}




@keyframes velo1 {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -787px 0;
    }
}

@keyframes velo2 {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -606px 0;
    }
}

@keyframes danse {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -2500px 0;
    }
}
@keyframes doigt {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1500px 0;
    }
}
/*INFORMATIONS SUR ANIMATIONS*/
ul.technique-gsap{
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 10px;
    font-family: monospace;
    font-weight: 400;
    width: auto;
    display: inline-block;
    padding: 10px 20px 12px 20px;
    margin: 0;
    max-width: 300px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

ul.technique-gsap li{
    margin: 5px 0;
}